.content {
	    text-align: center;
	    padding: 10px;
  	  background: #ccc;
}

@media (min-width:768px) { 
	.my-row {
	    position: relative;
	    height: 100%;
	    border: 1px solid red;
	}
	.img-fluid {
      height: 100%;
	    width: 100%;
	}
	.row.my-row > [class*="col-"] {
	    position: relative
	}
	.background {
	    position: absolute;
	    padding-top: 100%;
	    left: 0;
	    top: 0;
	    width: 100%;
	    background: #ccc;
	}
	.content {
	    position: relative;
	    z-index: 1;
	    width: 100%;
	    text-align: center;
	    padding: 10px;
	}

}
