<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="icon" href="node_modules/bootstrap/favicon.ico">-->

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/dashboard.css" rel="stylesheet">
    <link href="styles/controls.css" rel="stylesheet">
</head>

<body data-ng-app="moduleIndex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
                <div class="container-fluid">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="page-header">Bem-Vindo</h1>
                        <p> Escolha um paciente:</p>
                        <div ng-controller="controllerAddData">
                            <div class="right-inner-addon" style="margin-bottom:10px;">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" id="input-patient" class="form-control" placeholder="Procurar..." ng-model="patientModel.name" ng-key-select autofocus tabindex=1>
                            </div>
                            <p></p>
                            <div class="table table-condensed table-bordered patient-table">
                                <div ng-repeat="patient in filteredPatientList = (patientList | filter:patientModel.name)" ng-click="selectEntry($event, patient)">
                                    <div class="patient-table-entry" ng-class="isEntrySelected($index)">{{::patient.name}}</div>
                                </div>
                            </div>

                            <p></p>
                            <div class="tooltip-wrapper disabled" title="{{::tooltipText}}" directive-tooltip>
                                <button class="btn btn-primary" id='button-goto-views' ng-click="gotoViews($event, patientModel)" ng-disabled="isDisabled($event)" tabindex=2>Consultar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <!-- NOTE: Loading jQuery compatible with angular-split-pane -->
    <script src="modules/angular-split-pane/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Our scripts -->
    <script src="scripts/index.js"></script>
</body>

</html>
