/* SVG styling */
.circular-heat path {
	stroke: #777;
	stroke-width: 0.1px;
}

.circular-heat path:hover {
    fill: #286090 !important;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 10px;
}

#chart3 .labels {
	fill: #555;
}
