/* Input icon */

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    left: 0;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}

/* Button icon */
.custom-btn-svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.custom-btn-checked {
    color: #fff;
    background-color: #33b77a;
    border-color: #2ea46d;
}

.custom-btn-checked:focus {
    color: #fff;
    background-color: #289060;
    border-color: #12402b;
}
.custom-btn-checked:hover {
    color: #fff;
    background-color: #289060;
    border-color: #20744d;
}
.custom-btn-secondary {
    border: 1px solid #ccc;
    display: block;
    margin: 0 0 0 auto;
}

.custom-btn-link {
    vertical-align: baseline;
}

.custom-checkbox {
    position: relative;
    margin: 0;
}

.checkboxInTable {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
