/* Input icon */

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/* Button icon */
.btn-custom-svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.btn-custom-cancel {
    display: block;
    margin: 0 0 0 auto;
}
