/* Input icon */

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    left: 0;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}

.custom-btn-margin {
    margin: 0.1em;
}

/* Button icon */
.custom-btn-svg {
    position: relative;
    height: 16px;
    width: 16px;
    margin: 0 0.1em;
    vertical-align: middle;
}

/* Off-centered to the bottom-right corner of the button */
.custom-btn-svg-checked {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.custom-btn-checked {
    position: relative;
    color: #fff;
    background-color: #33b77a;
    border-color: #2ea46d;
}

.custom-btn-checked:focus {
    color: #fff;
    background-color: #289060;
    border-color: #12402b;
}
.custom-btn-checked:hover {
    color: #fff;
    background-color: #289060;
    border-color: #20744d;
}
.custom-btn-secondary {
    display: block;
}

.custom-right {
    margin: 0 0 0 auto;
}
.custom-center {
    margin-left: auto;
    margin-right: auto;
}

.custom-btn-link {
    vertical-align: baseline;
}

.custom-checkbox {
    position: relative;
    margin: 0;
}

.checkboxInTable {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.markPatientAttribute {
    background: transparent;
    width: 0.25em;
    height: 1em;
    margin-right: 0.25em;
}

.markPresent {
    background: #008800;
    fill: #008800;
}

.markSquare {
    min-width: 1em;
    min-height: 1em;
    margin: 0 0.25em;
}
