/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Custom elements
 */

.help {
    cursor: help; 
}

.discrete-link {
    color: inherit;
}

.bg-header {
    color: gray;
    text-align: center;
}

.viz-title {
    font-size: 1.4em;
    line-height: 1.1;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.bold-text {
  font-weight: bold;
}

.custom-container-padding {
  padding-left: 0; 
}

.custom-container-width {
  width: 100%;
}

/* Action Panel */

.view-choice {
    border: 5px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.view-choice:hover {
    border-color: #286090;
    color: #286090;
}

.view-choice-svg {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Panes */

/* Panes need all surrounding containers to impose minimum height */
.panes {
    height: 100%;
    min-height: 100%;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.main, .pretty-split-pane-frame {background: #ddd;}

/* 
 * Due to pane limitations, we display information in fixed containers,
 * forcing side panels and body to be adjusted.
 */
.infobar {
    top: 50px;
    background: #fff;
    border-bottom: 1px solid grey;
    z-index: 1001; /* below navbar */
}

.bar-text {
    font-size: 14px;
}

.infobar-text,
.infobat-text:hover {
    color: black;
}

.sidebar {
    top: 50px;
}

body {
    padding-top: 50px;
}

/* Tables & Menus */

.patient-table {
    display: block;
    width: 100%;
    height: 10em;
    overflow-y: auto;
}

.patient-table-entry {
    cursor: pointer;
    line-height: 1.42857143;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    padding: 0.25em;
}

.btn-group .btn-default:hover,
.patient-table-entry:hover,
.patient-table-entry-selected,
.entrySelected {
    background-color: #c4e3f3;
    color: #31708f;
}

.buttonSelected {
    background-color: #777;
    color: white;
    font-weight: bold;
}

.inline-wrapper {
  display: inline-block;
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}

rect.handle.handle--e,
rect.handle.handle--w {
    width: 0.5em;
    fill: #aaa;
}

rect.handle.handle--e:hover,
rect.handle.handle--w:hover,
rect.handle.handle--e:active,
rect.handle.handle--w:active {
    fill: #31708f;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

/* Tooltips */

.tooltip-element {
    position: absolute;
    text-align: center;
    padding: .5em;
    background: #000;
    border: 0px;
    border-radius: 6px;
    font-size: 11px;
    color: white;
    opacity: 0.9; 
    font-family: sans-serif;
}

.tooltip {
  position: fixed; /* fix occlusion issues */
}

.tooltip > p {
  text-align: left;
}

.tooltip-inner {
  max-width: 20em;
}

.tooltip-wrapper {
  display: inline-block; /* display: block works as well */
}

.fade {
  transition: none;
}

.tooltip-wrapper .btn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
  cursor: not-allowed;
}

/* Creates a small triangle extender for the tooltip */

.tooltip-d3 {
    border: 1px solid #000 !important;
    pointer-events: none;
}

.tooltip-d3:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    color: #000;
    position: absolute;
    pointer-events: none;
}

/* Eastward tooltips */
.tooltip-d3.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
    pointer-events: none;
}

/* Northward tooltips */
.tooltip-d3.n:after {
    content: "\25BC";
    margin: -4px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
    pointer-events: none;
}
