.filter-bar {
    background-color: #333;
    fill: #333;
    shape-rendering: crispEdges;
}

.filter-crisp {
    shape-rendering: crispEdges;
}

.filter-selected,
.filter-mouseover:hover {
    background-color: #31708f !important;
    fill: #31708f !important;
    stroke: #c4e3f3 !important;
    stroke-width: 2px;   
}

.filter-bar-empty {
    background-color: #ddd;
    fill: #ddd;
    shape-rendering: crispEdges;
}

.filter-draggable {
    cursor: move;
	stroke: #ddd;
	stroke-width: 2px;
    shape-rendering: crispEdges;
}
