rect.bordered {
  stroke: #ededed;
  stroke-width: 2px;   
}

rect.bordered:hover {
  fill: #286090 !important;
}

text.viz-label {
  font-size: 0.9em;
  font-family: sans-serif;
  fill: #000;
}

text.axis {
  fill: #000;
}
