.rect-label {
  fill: transparent;
  fill-opacity: 0.0;
}

.rect-label-selected {
  fill: #c4e3f3;
  fill-opacity: 1.0;
  /*
  -webkit-transition: fill-opacity 0.1s ease-in-out;
  -moz-transition: fill-opacity 0.1s ease-in-out;
  -ms-transition: fill-opacity 0.1s ease-in-out;
  -o-transition: fill-opacity 0.1s ease-in-out;
  transition: fill-opacity 0.1s ease-in-out;
  */
}

.bordered {
  stroke: white;
  stroke-width: 2px;   
  shape-rendering: crispEdges;
}

.bordered:hover {
  fill: #31708f !important;
  stroke: #c4e3f3;
  stroke-width: 2px;   
}

.bordered-empty {
  stroke: lightgrey;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.bordered-empty:hover {
  fill: transparent !important;
}

.text-label {
  font-size: 0.9em;
  font-family: sans-serif;
  fill: #000;
}

.text-label-selected {
  font-size: 0.9em;
  font-family: sans-serif;
  fill: #000 !important;
}

text.axis {
  fill: #000;
}

.guide {
  fill: transparent;
  stroke: #31708f;
  stroke-width: 2px;   
}
