rect.bordered {
  stroke: #ededed;
  stroke-width: 2px;   
}

rect.bordered:hover {
  fill: #286090 !important;
}

text.mono {
  font-size: 9pt;
  font-family: monospace;
  fill: #000;
}

text.axis {
  fill: #000;
}
